* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(./backdrop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

thead {
    color: black;
    text-shadow: none;
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    height: auto;
    width: 90%;
    max-width: 950px;
    min-width: 450px;
    margin: 50px auto;
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur();
    background-color: #ffffff3f;
    color: black;
    font-size: 16px;
    letter-spacing: 3px;
    border: white 1px solid;
}

h2#month-year {
    text-align: center;
    padding: 10px;
    font-size: 2.5em;
    text-shadow: white 1px 1px 1px;
    max-width: 90%;
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

button#prev-month,
button#next-month {
    padding: 8px;
    margin:15px;
    width: 45%;
    max-width: 90%;
    height: 40px;
    border-radius: 8px;
    background-color: #ffffff3f;
    font-size: 16px;
    letter-spacing: 4px;
}

button#prev-month:hover,
button#next-month:hover {
    background-color: rgba(212, 127, 255, 0.25); /* Adjust the color as needed */
    z-index: -1; /* Ensure it's above the td content */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    letter-spacing: 4px;
}

td {
    position: relative;
    transition: background-color 0.3s ease;
}

td:hover::before {
    content: ''; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 35px; 
    height: 35px; 
    background-color: rgba(212, 127, 255, 0.25); 
    border-radius: 50%;
    z-index: -1; 
}

th, td {
    border: 2px solid black;
    text-align: center;
    padding: 20px;
}

th {
    background-color: #f2f2f2;
}

body.dark-mode {
    background-image: url(./dark.jpg);
}

main.dark-mode {
    backdrop-filter:unset;
    background-color: rgba(23, 23, 23, 0.75);
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
    border: white 1px solid;
}

button#prev-month.dark-mode,
button#next-month.dark-mode {
    backdrop-filter:unset;
    background-color: white;
    color: black;

}

button#prev-month:hover.dark-mode,
button#next-month:hover.dark-mode {
    background-color: rgba(0, 0, 0, 0.8); 
    box-shadow: 5px 2px 8px 5px rgb(56, 170, 102);
    z-index: 1; 
    color: white;

}

td:hover.dark-mode::before {
    backdrop-filter:unset;
    background-color: rbg(56, 170, 102);
    z-index: 1; 
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }

    h2#month-year {
        font-size: 1.5em;
        text-align: center;
        width: 90%;
        margin-bottom: 15px;
    }

    section {
        flex-direction: column;
    }

    button#prev-month,
    button#next-month {
        width: 90%;
        max-width: none;
    }

    th, td {
        border: 2px solid black;
        text-align: center;
        padding: 15px;
    }
}

@media screen and (max-width: 586px) {
    main {
        padding: 5px;
    }

    h2#month-year {
        font-size: 1.5em;
        text-align: center;
        width: 90%;
        margin: auto;
    }

    section {
        flex-direction: column;
    }

    button#prev-month,
    button#next-month {
        width: 80%;
        max-width: none;
    }

    th, td {
        padding-left: 3px;
        padding-right: 3px;
    }

    th {
        background-color: #f2f2f2;
    }

    th span.full {
        display: none;
    }

    th span.abbr {
        display: inline-block;
    }
}